<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<link rel="stylesheet" href="../../css/all.css">

<!-- <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../../plugins/Font-Awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/cong/cong.css">


<script src="../../js/all.js"></script>

  <title>登录</title>

</head>
<body class="hold-transition login-page">

<div class="login-box" id="app">

  <div class="login-logo">
    <a href="#">商户后台</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">请登录</p>

    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">登录账号</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="account" v-model="account.account">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">登录密码</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" name="password" v-model="account.password">
        </div>
      </div>

<!--       <div class="form-group">
        <label class="col-sm-3 control-label">登录角色</label>
        <div class="col-sm-9">
          <label>
            <input type="radio" value="2" v-model="account.type"> 代理商
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" value="1" v-model="account.type"> 商户
          </label>
          &nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" value="4" v-model="account.type"> 营销组
          </label>
        </div>
      </div> -->

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <a class="btn btn-primary btn-flat" @click="submit">登录</a>
        </div>
      </div>

    </form>

  </div>

</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
	mca: {},
    admin: {},
    sidemenu: {},

	list: {},
	// page: {},
	ids: [],
	ids_all: [],

	view: {},

	行业:{
		1:'旅馆',
		2:'网吧',
		3:'汽车站',
		4:'机场',
		5:'旅行社',
		6:'访客'
	},

	软件版本:{
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家'
	},

    接口类型: {
      1: '公安部',
      2: '海鑫',
      3: '国政通',
      4: '上海爱金'
    },

    接口版本: {
      1: '标准版',
      2: '简化版'
    },

    行业软件: {
      1: '佳星',
      2: '万象',
      3: '湖南万象(斯雨)',
      4: '云辰',
      5: '龙管家',
      10000: '中证宝酒店',
      10001: '优速酒店',
      10002: '千里马酒店',
    },

    状态: {
      1: '可用',
      2: '不可用'
    },

    是否加密: {
      0: '否',
      1: '是'
    },

    同步模式: {
      1: '在线（云服务器）',
      2: 'xml文件（铃铛）',
      3: '本地数据库（LockSend）'
    },

    分成基数: {
      1: '月消费总积分（对冲退款）',
      // 2: '日均消费总积分（对冲退款）'
    },

    分成模式: {
      1: '阶梯式累计分成'
    },


    account: {
      // account: "6104040759",
      // password: "123456",
      // type: 2,
    },

  },
  methods: {
/*    getList: function(key, val){

      _this = this

      if(key == 'page'){

        if(val == '+1'){
          if( this.param.page < this.param.page_total ){
            this.param.page++
          }else{
            return;
          }
        }

        if(val == '-1'){
          if( this.param.page > 1 ){
            this.param.page--
          }else{
            return;
          }
        }

      }

      $.ajax({
        type: 'POST',
        url: manager_api + this.param.dir,
        // data: this.param,
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.param = re.param
          _this.list.data = re.data

          //所有id
          for( var i in re.data ){
            var v = re.data[i]

            _this.ids_all.push(v.id)
          }

          //分页
          _this.list.prev = []
          for(var i = _this.param.page - 4; i < _this.param.page; i++){
            if(i <= 0)continue;
            _this.list.prev.push(i)
          }

          _this.list.next = []
          for(var i = _this.param.page + 1; i < _this.param.page + 5; i++){
            if(i > re.param.page_total)break;
            _this.list.next.push(i)
          }

        }
      })

    },*/

    checkAll: function(){

      if( $('#checkAll').prop('checked') ){
        this.list.checkbox.checked = this.list.checkbox.all
      }else{
        this.list.checkbox.checked = []
      }

    },

/*    getView: function(id){

      _this.view = {}

      if(id == -1){
        this.view = {}
        $('#view').modal('show')
        return;
      }

      $.ajax({
        type: 'GET',
        url: manager_api + 'adm/view',
        data: {
          table: this.param.table,
          id: id,
        },
        dataType: 'json',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.view = re

          $('#view').modal('show')

        }
      })

    },*/


/*    save: function(){

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/save?table=' + this.param.table,
        data: this.view,
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == '1'){
            _this.getList()
            $('#view').modal('hide')
          }else{
            alert(re)
          }

        },
      })

    },*/


    onoff: function(field, value, id){

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/onoff',
        data: {
          table: this.param.table,
          field: field,
          value: value,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },


    del: function(id){

      if(!confirm('确认删除？')){
        return void(0)
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }


      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/del',
        data: {
          table: this.param.table,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },

    submit: function(){

      var _this = this

      if(this.account.account == undefined || this.account.account == ''){
        alert('请输入用户名')
        return
      }
      if(this.account.password == undefined || this.account.password == ''){
        alert('请输入密码')
        return
      }


      var data = {
        reqHead: {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "4600D5BC2AACE2929E9CEBB44121B8CF"
        },
        reqBody: this.account
      }

      // console.log(JSON.stringify(data))

      $.ajax({
        type: 'POST',
        url: mp_api + 'mp/tokenGenerate/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function(re){

          if(re.rspHead.retCode != 1){
            alert(re.rspHead.retMsg)
          }else{

            //装埋入去
            re.rspBody.adminResponseInfoDTO.token = re.rspBody.token

            //变短变量名
            var data1 = re.rspBody.adminResponseInfoDTO

            // _this.save(re.rspBody.adminResponseInfoDTO)

            //有老豆信息
            if(data1.roleFlag == 2){

              var data = {
                reqHead: {
                  clientType: 6,
                  format: "json",
                  version: "1.0",
                  sign: "4600D5BC2AACE2929E9CEBB44121B8CF"
                },
                reqBody: {
                  agentId: data1.primaryAccountId
                }
              }

              $.ajax({
                type: 'POST',
                url: mp_api + 'mp/getParentAgent/interface',
                data: JSON.stringify(data),
                dataType: 'json',
                beforeSend: function(request){
                  request.setRequestHeader('Authorization', 'Bearer ' + re.rspBody.token )
                },
                success: function(re2){

                  if(re2.rspHead.retCode != 1){
                    alert(re2.rspHead.retMsg)
                  }else{

                    //变短变量名
                    var data2 = re2.rspBody

                    _this.save(data1, data2)
                  }

                }
              })
            }else{

              _this.save(data1)

            }

          }

        }
      })

    },
    save: function(data, data2){

      // console.log('data1', data)
      // console.log('data2', data2)
      // return

      // var admin = {}
      var admin = data
      admin.id = admin.primaryAccountId
      admin.user = admin.account
      admin.type = admin.roleFlag

      if(data2 != undefined){
        admin.parentAgentId = data2.parentAgentId
        admin.parentAgentTitle = data2.parentAgentTitle
      }

      admin.expire = new Date().getTime() + (180 * 60 * 1000)
      LS.admin = JSON.stringify(admin)
      // console.log(admin)

      // return

      if(admin.type == 1){
        location.href = '../index/index.html'
      }
      if(admin.type == 2){
        location.href = '../index/agent.html'
      }
      if(admin.type == 4){
        location.href = '../stats/sale_group_stats.html'
      }

    }

  },
  mounted() {

    //登出
    if( getUrl('logout') == 1 ){
      LS.removeItem('admin')
    }

  }
})
</script>
</body>
</html>