<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<link rel="stylesheet" href="../../css/all.css">

<!-- <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../../plugins/Font-Awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/cong/cong.css">


<script src="../../js/all.js"></script>

    <title>商户分成</title>

</head>
<body class="hold-transition sidebar-mini skin-blue">

<div id="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div class="wrapper" id="app" style="display: none">

  <header class="main-header">
    <!-- Logo -->
    <a href="../index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">商户后台</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">商户后台</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{admin.user}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  {{admin.user}}
                  <small>管理员</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <!-- <a href="#" class="btn btn-default btn-flat">设置</a> -->
                </div>
                <div class="pull-right">
                  <a href="../account/index.html?logout=1" class="btn btn-default btn-flat">登出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
<!--           <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>


  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{admin.user}}</p>
          <i class="fa fa-circle text-success"></i> 在线
        </div>
      </div>


      <ul class="sidebar-menu" data-widget="tree">

        <li :class="{'treeview': v.children.length != 0, 'active': v.title_en == mca.c}" v-for="(v, i) in sidemenu">

          <a :href="`../${v.url == '#' ? v.url : v.url + '.html'}`">
            <i :class="`fa fa-${v.icon}`"></i> <span>{{v.title}}</span>
            <span class="pull-right-container" v-if="v.children.length != 0">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" v-if="v.children.length != 0">

            <li :class="{'treeview': v2.children.length != 0, 'active': v2.title_en == mca.a}" v-for="(v2, i2) in v.children">

              <a :href="`../${v2.url == '#' ? v2.url : v2.url + '.html'}`"
              v-if="!(admin.isPrimaryAccount == 2 && v2.title == '员工账号')">
                <i :class="`fa fa-${v2.icon}`"></i> <span> {{v2.title}}</span>
                <span class="pull-right-container" v-if="v2.children.length != 0">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" v-if="v2.children.length != 0">

                <li v-for="(v3, i3) in v2.children">
                  <a :href="`../${v3.url == '#' ? v3.url : v3.url + '.html'}`">
                    <i :class="`fa fa-${v3.icon}`"></i> {{v3.title}}
                  </a>
                </li>

              </ul>
            </li>

          </ul>
        </li>

      </ul>
    </section>

  </aside>


  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        商户分成
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> 首页</li>
        <li>日志管理</li>
        <li class="active">商户分成</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="nav-tabs-custom">

            <ul class="nav nav-tabs">
              <!-- <li><a href="#操作" data-toggle="tab" aria-expanded="true">操作</a></li> -->
              <li class="active"><a href="#搜索" data-toggle="tab" aria-expanded="false">搜索</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="操作">

                <a class="btn btn-sm btn-danger" @click="del()">删除</a>

                <a class="btn btn-sm btn-info" @click="location.reload()">刷新</a>

                <a class="btn btn-sm btn-primary" @click="getView(-1)">新增</a>

              </div>
              <div class="tab-pane active" id="搜索">

                <div class="form-horizontal">

                  <div class="form-group">
                    <label class="col-sm-2 control-label">统计日期</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-xs-5 col-sm-3">
                          <input type="text" class="form-control datepicker" id="startTime">
                        </div>
                        <div class="fl w20 mt8 tc">
                          ~
                        </div>
                        <div class="col-xs-5 col-sm-3">
                          <input type="text" class="form-control datepicker" id="endTime">
                        </div>
                        <div class="fl mt8">
                          <i class="fa fa-question" data-toggle="tooltip" data-placement="top" title="当日订单，需第二日才能查看分成收入"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">商户</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" v-model="list.info.mchTitleName" disabled>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-primary" @click="list.post.pageNum = 1; getList()">查找</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="clearfix p10 pt0">

              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th rowspan="2">日期</th>
                    <th rowspan="2">商户</th>
                    <th colspan="2">消费订单</th>
                    <th colspan="2">退款订单</th>
                    <th colspan="2" rowspan="2">商户分成金额</th>
                  </tr>
                  <tr class="text-nowrap">
                    <!-- <th width="1%"><input type="checkbox" @click="checkAll" id="checkAll"></th> -->
                    <th>订单总数</th>
                    <th>订单总积分</th>
                    <th>订单总数</th>
                    <th>订单总积分</th>
                    <!-- <th width="1%">操作</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(v, i) in list.data">
                    <td>{{v.settlementDateTitle}}</td>
                    <td>{{v.mchName}}</td>
                    <td>{{v.consumeNum}}</td>
                    <td>{{v.consumeIntegral}}</td>
                    <td>{{v.refundNum}}</td>
                    <td>{{v.refundIntegral}}</td>
                    <td>{{v.mchDivide}}</td>
<!--                     <td class="text-nowrap operation">
                      <a class="btn btn-xs btn-primary" @click="getView(v.goodId)">积分明细</a><br>
                      <a class="btn btn-xs btn-danger" @click="del(v.goodId)">锁定</a><br>
                    </td> -->
                  </tr>
                  <tr v-if="list.data.length == 0">
                    <td colspan="99">没有数据</td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>

        </div>

      </div>

    </section>

  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <b>中证宝</b> 商户后台
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">维护团队</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">韦聪</h4>

                <p>产品设计师</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-phone bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">电话</h4>

                <p>18902300094</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">邮件</h4>

                <p>57425133@qq.com</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- <script src="../plugins/jquery/jquery.min.js"></script> -->
<!-- <script src="../plugins/bootstrap/js/bootstrap.min.js"></script> -->
<script src="../../plugins/adminLTE/js/adminlte.min.js"></script>
<script src="../../plugins/adminLTE/js/demo.js"></script>
<script src="../../plugins/cong/cong.js"></script>

<link rel="stylesheet" href="../../plugins/datepicker/datepicker.css">
<script src="../../plugins/datepicker/datepicker.js"></script>

<script>
var app = new Vue({
  el: '#app',
  data: {
	mca: {},
		admin: {},
		sidemenu: {},

	list: {},
	// page: {},
	ids: [],
	ids_all: [],

	view: {},

	性别:{
		1:'男',
		2:'女',
	},

	软件版本:{
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家'
	},

	接口类型: {
		1:'公安部',
		2:'海鑫',
		3:'国政通',
		4:'上海爱金'
	},

	接口版本: {
		1:'标准版',
		2:'简化版'
	},

	行业:{
		1:'旅馆',
		2:'网吧',
		3:'汽车站',
		4:'机场',
		5:'旅行社',
		6:'访客',
		7:'充电',
		8:'出租屋',
		9:'足浴'
	},

	行业软件: {
		0:'无软件',
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家',
		6:'恒邦',
		7:'鼎泰云计费',
		10000:'中证宝酒店',
		10001:'中冠PMS',
		10002:'千里马酒店',
		10003:'锦江酒店',
		10004:'广电运通',
		20000:'佛山曇京',
		60001:'华舜'
	},

	旅馆行业: {
		0:'无软件',
		10000:'中证宝酒店',
		10001:'中冠PMS',
		10002:'千里马酒店',
		10003:'锦江酒店',
		10004:'广电运通',
		20000:'佛山曇京'
	},

	网吧行业: {
		0:'无软件',
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家',
		6:'恒邦',
		7:'鼎泰云计费',
	},

	汽车站行业:{
		0:'无软件'
	},

	机场行业:{
		0:'无软件'
	},

	旅行社行业:{
		0:'无软件'
	},

	访客行业:{
		0:'无软件',
		20000:'佛山曇京',
		60001:'园区访客',
		60002:'酒店访客'
	},

	充电行业:{
		0:'无软件'
	},

	出租屋行业: {
		0:'无软件',
		10000:'中证宝酒店'
	},

	足浴行业: {
		0:'无软件',
		10000:'中证宝酒店'
	},

	状态: {
		1:'可用',
		2:'不可用'
	},

	是否加密: {
		0:'否',
		1:'是'
	},

	同步模式: {
		1:'在线（云服务器）',
		2:'xml文件（铃铛）',
		3:'本地数据库（LockSend）',
		4:'上海旅业',
		5:'湖南旅业',
		6:'身份证硬件',
	},

	分成基数: {
		1: '月消费总积分（对冲退款）',
		// 2: '日均消费总积分（对冲退款）'
	},

	分成模式: {
		1: '阶梯式累计分成'
	},

	支付方式: {
		0:'全部',
		1:'电子现金',
		2:'声波',
		3:'NFC',
		4:'扫码',
		5:'手输',
	},

	交易模式: {
		// 0:		'全部',
		10001:	'担保',
		10002:	'消费',
	},

	支付状态: {
		0:'未生成',
		1:'已提交担保',
		2:'担保完成',
		3:'担保撤销',
		4:'担保冲正',
		101:'支付',
		102:'支付冲正',
		103:'支付撤销',
		104:'支付退款'
	},

	证件类型: {
		1: '中证宝',
		2: '二代证',
	},

	入住状态:[
		'已预约',
		'已入住',
		'已离店'
	],

    list: {
      data: [],
      post: {
        pageNum: 1,
        pageSize: 10
      },
      info: {},
      page: {},
      checkbox: {
        all: [],
        checked: [],
      },
    },

    发送类型: {
      1: '注册',
      2: '找回密码',
      3: '更换手机',
      4: '等',
    },

    状态: {
      1: '可用',
      2: '不可用',
    },

  },
  methods: {
/*    getList: function(key, val){

      _this = this

      if(key == 'page'){

        if(val == '+1'){
          if( this.param.page < this.param.page_total ){
            this.param.page++
          }else{
            return;
          }
        }

        if(val == '-1'){
          if( this.param.page > 1 ){
            this.param.page--
          }else{
            return;
          }
        }

      }

      $.ajax({
        type: 'POST',
        url: manager_api + this.param.dir,
        // data: this.param,
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.param = re.param
          _this.list.data = re.data

          //所有id
          for( var i in re.data ){
            var v = re.data[i]

            _this.ids_all.push(v.id)
          }

          //分页
          _this.list.prev = []
          for(var i = _this.param.page - 4; i < _this.param.page; i++){
            if(i <= 0)continue;
            _this.list.prev.push(i)
          }

          _this.list.next = []
          for(var i = _this.param.page + 1; i < _this.param.page + 5; i++){
            if(i > re.param.page_total)break;
            _this.list.next.push(i)
          }

        }
      })

    },*/

    checkAll: function(){

      if( $('#checkAll').prop('checked') ){
        this.list.checkbox.checked = this.list.checkbox.all
      }else{
        this.list.checkbox.checked = []
      }

    },

/*    getView: function(id){

      _this.view = {}

      if(id == -1){
        this.view = {}
        $('#view').modal('show')
        return;
      }

      $.ajax({
        type: 'GET',
        url: manager_api + 'adm/view',
        data: {
          table: this.param.table,
          id: id,
        },
        dataType: 'json',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.view = re

          $('#view').modal('show')

        }
      })

    },*/


/*    save: function(){

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/save?table=' + this.param.table,
        data: this.view,
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == '1'){
            _this.getList()
            $('#view').modal('hide')
          }else{
            alert(re)
          }

        },
      })

    },*/


    onoff: function(field, value, id){

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/onoff',
        data: {
          table: this.param.table,
          field: field,
          value: value,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },


    del: function(id){

      if(!confirm('确认删除？')){
        return void(0)
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }


      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/del',
        data: {
          table: this.param.table,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },

    getList: function(key, val){

      _this = this

      //这里用v-model会有大坑
      this.list.post.startTime = $('#startTime').val()
      this.list.post.endTime = $('#endTime').val()


      if(key == 'page'){

        if(val == '+1'){
          if( this.list.post.pageNum < this.list.info.pages ){
            this.list.post.pageNum++
          }else{
            return
          }
        }

        if(val == '-1'){
          if( this.list.post.pageNum > 1 ){
            this.list.post.pageNum--
          }else{
            return
          }
        }

      }

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "8D5AA5642162A6B05A08D3B6896144DD"
        },
        reqBody: this.list.post
      }

      $.ajax({
        type: 'POST',
        url: mp_api + 'mp/getMchSettlementList/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.list.data = re.rspBody.MchSettlementList
          delete re.rspBody.MchSettlementList

          _this.list.info = re.rspBody

          var total = {
            settlementDateTitle: '合计',
            mchName: '-',
            mchDivide: 0,
            consumeIntegral: 0,
            consumeNum: 0,
            refundIntegral: 0,
            refundNum: 0,
            settlementIntegral: 0
          }

          for ( var i in _this.list.data ){
            var v = _this.list.data[i]

            // console.log(v)
            total.mchDivide += v.mchDivide
            total.consumeIntegral += v.consumeIntegral
            total.consumeNum += v.consumeNum
            total.refundIntegral += v.refundIntegral
            total.refundNum += v.refundNum
            total.settlementIntegral += v.settlementIntegral
          }

          //取整
          for ( var i in total ){
            total[i] = total[i].tofixed(2)
          }

          _this.list.data.push(total)

        }
      })

    },

  },
  mounted() {
    _this = this

    // console.log(LS.admin)

    // 登录信息
    if(LS.admin != undefined){
      this.admin = JSON.parse(LS.admin)

      var expire = ((this.admin.expire - new Date().getTime() ) / 1000 / 60).toFixed(0)

      console.log('登录超时剩余', expire)

      //过期
      if(expire < 0){
        //console.log('登录超时跳转')
        location.href = '../account/index.html?logout=1'
      }

    }else{

      //未登录
      location.href = '../account/index.html'
    }


    if(this.admin.softwareVersion == 60001){
      var url = '../../db/menu-mp-company.json'
    }
    else if(this.admin.softwareVersion == 60002){
      var url = '../../db/menu-mp-hotel.json'
    }
    else if(this.admin.type == 1 || this.admin.type == 2){
      var url = '../../db/menu-mp-agent.json'
    }else if(this.admin.type == 4){
      var url = '../../db/menu-mp-sale-group.json'
    }else{
      var url = '../../db/menu-mp.json'
    }


    // 侧栏菜单
    $.ajax({
      type: 'GET',
      url: url,
      //url: 'http://192.168.199.196:8692/token/generate',
      dataType: 'json',
      beforeSend: function(request){
        //request.setRequestHeader("token", _this.admin.token)
      },
      success: function(re){

        // $.cookie('token', re.data.token);

        // re.data.info.token = re.data.token
        // LS.admin = JSON.stringify(re.data.info)

        _this.sidemenu = re
/*        console.log(_this.sidemenu)

        if(_this.admin.isPrimaryAccount != 1){
          // console.log('我不是主帐户')

          for(var i in _this.sidemenu){
            var v = _this.sidemenu[i]

            if(v.title == '客服管理'){

              console.log(v)
              delete _this.sidemenu[i]
              break

            }
          }
        }*/

      }
    })


    // 显示主体
    $('#loading').hide()
    $('#app').show()

    // mca
    var tmp = location.pathname.split('/')
    this.mca = {
      m: decodeURI(tmp[1]),
      c: decodeURI(tmp[2]),
      a: decodeURI(tmp[3].split('.html')[0]),
    }

    // console.log(this.mca)

    $('[data-toggle="tooltip"]').tooltip()


    $('.datepicker').datepicker({
      format: "yyyy-mm-dd",
    })

    var date = new Date()
    var last_date = new Date(date.getFullYear(), (date.getMonth() + 1), 0).getDate()

    $('#startTime').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + '01')
    $('#endTime').val(date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + last_date)


    this.getList()

  }
})
</script>
</body>
</html>