<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<link rel="stylesheet" href="../../css/all.css">

<!-- <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../../plugins/Font-Awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/cong/cong.css">


<script src="../../js/all.js"></script>

  <title>登录</title>

</head>
<body class="hold-transition login-page">

<div class="login-box" id="app">

  <div class="login-logo">
    <a href="#">管理后台</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">请登录</p>

    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">登录账号</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" v-model="account.account">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">登录密码</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" v-model="account.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <a class="btn btn-primary btn-flat" @click="submit">登录</a>
        </div>
      </div>

    </form>

  </div>

</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
	mca: {},
    admin: {},
    sidemenu: {},

	list: {},
	// page: {},
	ids: [],
	ids_all: [],

	view: {},

    account: {
      // account: "hwb",
      // password: "123456",
    },

  },
  methods: {
/*    getList: function(key, val){

      _this = this

      if(key == 'page'){

        if(val == '+1'){
          if( this.param.page < this.param.page_total ){
            this.param.page++
          }else{
            return;
          }
        }

        if(val == '-1'){
          if( this.param.page > 1 ){
            this.param.page--
          }else{
            return;
          }
        }

      }

      $.ajax({
        type: 'POST',
        url: manager_api + this.param.dir,
        // data: this.param,
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.param = re.param
          _this.list.data = re.data

          //所有id
          for( var i in re.data ){
            var v = re.data[i]

            _this.ids_all.push(v.id)
          }

          //分页
          _this.list.prev = []
          for(var i = _this.param.page - 4; i < _this.param.page; i++){
            if(i <= 0)continue;
            _this.list.prev.push(i)
          }

          _this.list.next = []
          for(var i = _this.param.page + 1; i < _this.param.page + 5; i++){
            if(i > re.param.page_total)break;
            _this.list.next.push(i)
          }

        }
      })

    },*/

    checkAll: function(){

      if( $('#checkAll').prop('checked') ){
        this.list.checkbox.checked = this.list.checkbox.all
      }else{
        this.list.checkbox.checked = []
      }

    },

/*    getView: function(id){

      _this.view = {}

      if(id == -1){
        this.view = {}
        $('#view').modal('show')
        return;
      }

      $.ajax({
        type: 'GET',
        url: manager_api + 'adm/view',
        data: {
          table: this.param.table,
          id: id,
        },
        dataType: 'json',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.view = re

          $('#view').modal('show')

        }
      })

    },*/


/*    save: function(){

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/save?table=' + this.param.table,
        data: this.view,
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == '1'){
            _this.getList()
            $('#view').modal('hide')
          }else{
            alert(re)
          }

        },
      })

    },*/


    onoff: function(field, value, id){

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/onoff',
        data: {
          table: this.param.table,
          field: field,
          value: value,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },


    del: function(id){

      if(!confirm('确认删除？')){
        return void(0)
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }


      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/del',
        data: {
          table: this.param.table,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },

    submit: function(){

      var _this = this

      var data = {
        reqHead: {
          clientType:1,
          appVersion:"1.0",
          osVersion:"2.1",
          imei:"设备号",
          mobileModel:"S1",
          mobileManufacturer:"",
          identificationCode:"KSJALFAJIEALJF1212321",
          lat:"1",
          lng:"1",
          format:"json",
          version:"1.0",
          sign:"4600D5BC2AACE2929E9CEBB44121B8CF"
        },
        reqBody: this.account
      }

      // console.log(JSON.stringify(data))

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/tokenGenerate/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function(re){

          // console.log(re)
          // return

          if(re.rspHead.retCode != 1){
            alert(re.rspHead.retMsg)
          }else{
            var admin = {}
            admin.user = re.rspBody.managerRspDTO.account
            admin.token = re.rspBody.token
            admin.expire = new Date().getTime() + (180 * 60 * 1000)
            LS.admin = JSON.stringify(admin)

            location.href = '../mch/index.html'
          }

        }
      })

    }

  },
  mounted() {

    //登出
    if( getUrl('logout') == 1 ){
      LS.removeItem('admin')
    }

  }
})
</script>
</body>
</html>