<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<link rel="stylesheet" href="../../css/all.css">

<!-- <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../../plugins/Font-Awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/cong/cong.css">


<script src="../../js/all.js"></script>

  <title>登录</title>

</head>
<body class="hold-transition login-page">

<div class="login-box" id="app">

  <div class="login-logo">
    <a href="#">管理后台</a>
  </div>

  <div class="login-box-body">
    <p class="login-box-msg">请登录</p>

    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-3 control-label">登录账号</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="account" v-model="account.account">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">登录密码</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" name="password" v-model="account.password">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <a class="btn btn-primary btn-flat" @click="submit">登录</a>
        </div>
      </div>

    </form>

  </div>

</div>

<script>
var app = new Vue({
  el: '#app',
  data: {
	mca: {},
	admin: {},
	sidemenu: {},

	list: {},
	// page: {},
	ids: [],
	ids_all: [],

	view: {},

	权限: '',

	app系统:{
		1:'安卓',
		2:'IOS'
	},

	app类型:{
		1:'中证宝APP',
		2:'旺宝APP',
	},

	上架渠道:{
		1:'中证宝',
		2:'旺宝',
		3:'充电h5'
	},

	行业:{
		1:'旅馆',
		2:'网吧',
		3:'汽车站',
		4:'机场',
		5:'旅行社',
		6:'访客',
		7:'充电'
	},

	软件版本:{
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家'
	},

	接口类型: {
		1:'公安部',
		2:'海鑫',
		3:'国政通',
		4:'上海爱金'
	},

	接口版本: {
		1:'标准版',
		2:'简化版'
	},

	行业软件: {
		0:'无软件',
		1:'佳星',
		2:'万象',
		3:'湖南万象(斯雨)',
		4:'云辰',
		5:'龙管家',
		6:'恒邦',
		10000:'中证宝酒店',
		10001:'中冠PMS',
		10002:'千里马酒店',
		10003:'锦江酒店',
		20000:'佛山曇京'
	},

	状态: {
		1:'可用',
		2:'不可用'
	},

	是否: {
		1:'是',
		2:'否'
	},

	是否加密: {
		0:'否',
		1:'是'
	},

	同步模式: {
		1:'在线（云服务器）',
		2:'xml文件（铃铛）',
		3:'本地数据库（LockSend）'
	},

	分成基数: {
		1:'月消费总积分（对冲退款）',
		// 2:'日均消费总积分（对冲退款）'
	},

	分成模式: {
		1:'阶梯式累计分成'
	},

	支付方式: {
		0:'全部',
		1:'电子现金',
		2:'声波',
		3:'NFC',
		4:'扫码',
		5:'手输',
	},

	交易模式: {
		// 0:		'全部',
		10001:	'担保',
		10002:	'消费',
	},

	支付状态: {
		0:'未生成',
		1:'已提交担保',
		2:'担保完成',
		3:'担保撤销',
		4:'担保冲正',
		101:'支付',
		102:'支付冲正',
		103:'支付撤销',
		104:'支付退款'
	},


    account: {
      // account: "hwb",
      // password: "123456",
    },

  },
  methods: {
    checkAll: function(){

      if( $('#checkAll').prop('checked') ){
        this.list.checkbox.checked = this.list.checkbox.all
      }else{
        this.list.checkbox.checked = []
      }

    },

    checkAll2: function(checked, id){

      if( checked ){
        this[id].checkbox.checked = this[id].checkbox.all
      }else{
        this[id].checkbox.checked = []
      }

    },

    onoff: function(field, value, id){

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/onoff',
        data: {
          table: this.param.table,
          field: field,
          value: value,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },


    del: function(id){

      if(!confirm('确认删除？')){
        return void(0)
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }


      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/del',
        data: {
          table: this.param.table,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },

    submit: function(){

      var _this = this

      var data = {
        reqHead: {
          clientType:1,
          appVersion:"1.0",
          osVersion:"2.1",
          imei:"设备号",
          mobileModel:"S1",
          mobileManufacturer:"",
          identificationCode:"KSJALFAJIEALJF1212321",
          lat:"1",
          lng:"1",
          format:"json",
          version:"1.0",
          sign:"4600D5BC2AACE2929E9CEBB44121B8CF"
        },
        reqBody: this.account
      }

      // console.log(JSON.stringify(data))

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/tokenGenerate/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function(re){

          // console.log(re)
          // return

          if(re.rspHead.retCode != 1){
            alert(re.rspHead.retMsg)
          }else{
            var admin = {}
            admin.id = re.rspBody.managerRspDTO.id
            admin.user = re.rspBody.managerRspDTO.account
            admin.token = re.rspBody.token
            admin.expire = new Date().getTime() + (180 * 60 * 1000)
            LS.admin = JSON.stringify(admin)

            //侧栏菜单
            var data = {
              "reqHead":
              {
                clientType: 6,
                format: "json",
                version: "1.0",
                sign: "UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
              },
              reqBody: {
                id: re.rspBody.managerRspDTO.id
              }
            }
            // console.log(data)

            $.ajax({
              type: 'POST',
              url: manager_api + 'manager/getManagerAuthority/interface',
              data: JSON.stringify(data),
              dataType: 'json',
              beforeSend: function(request){
                request.setRequestHeader('Authorization', 'Bearer ' + re.rspBody.token )
              },
              success: function(re){

                // console.log(re)
                // return

                LS.menu = JSON.stringify(re.rspBody.menuList)

                // return

                var list = re.rspBody.menuList
                var first_can_jump = ''
                for(var i in list){
                  var v = list[i]

                  //记录下第一个能进的菜单
                  //一级菜单就能进入？
                  if(v.menuType == '2' && first_can_jump == ''){
                    first_can_jump = '../' + v.href + '.html'
                  }

                  for(var i2 in v.menuList){
                    var v2 = v.menuList[i2]

                    //如果有权，默认去 mch/list
                    if(v.perms == 'mch' && v2.perms == 'list'){

                      location.href = '../mch/list.html'
                      return
                    }

                    //记录下第一个能进的菜单
                    //二级菜单能进入？
                    if(v2.menuType == '2' && first_can_jump == ''){
                      first_can_jump = '../' + v2.href + '.html'
                    }

                  }

                }

                if(first_can_jump == ''){
                  alert('您一个能进的菜单也没有，请设置菜单')
                }else{
                  location.href = first_can_jump
                }

                // location.href = '../mch/list.html'

              }
            })

          }

        }
      })

    }

  },
  mounted() {

    //登出
    if( getUrl('logout') == 1 ){
      LS.removeItem('admin')
    }

  }
})
</script>
</body>
</html>