<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">
<meta name="keyword" content="">
<meta name="description" content="">
<meta name="author" content="lightuni.com">

<link rel="stylesheet" href="../../css/all.css">

<!-- <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="../../plugins/adminLTE/css/AdminLTE.min.css">
<link rel="stylesheet" href="../../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../../plugins/Font-Awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/cong/cong.css">


<script src="../../js/all.js"></script>

    <title>商户管理</title>

</head>
<body class="hold-transition sidebar-mini skin-blue">

<div id="loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>

<div class="wrapper" id="app" style="display: none">

  <header class="main-header">
    <!-- Logo -->
    <a href="../index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">管理后台</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">管理后台</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">{{admin.user}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  {{admin.user}}
                  <small>管理员</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <!-- <a href="#" class="btn btn-default btn-flat">设置</a> -->
                </div>
                <div class="pull-right">
                  <a href="../account/index.html?logout=1" class="btn btn-default btn-flat">登出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
<!--           <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>


  <aside class="main-sidebar">

    <section class="sidebar">

      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../plugins/adminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{admin.user}}</p>
          <i class="fa fa-circle text-success"></i> 在线
        </div>
      </div>

      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>

      <ul class="sidebar-menu" data-widget="tree">

        <li :class="{'treeview': v.children.length != 0, 'active': v.title_en == mca.c}" v-for="(v, i) in sidemenu">

          <a :href="`../${v.url == '#' ? v.url : v.url + '.html'}`">
            <i :class="`fa fa-${v.icon}`"></i> <span>{{v.title}}</span>
            <span class="pull-right-container" v-if="v.children.length != 0">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" v-if="v.children.length != 0">

            <li :class="{'treeview': v2.children.length != 0, 'active': v2.title_en == mca.a}" v-for="(v2, i2) in v.children">

              <a :href="`../${v2.url == '#' ? v2.url : v2.url + '.html'}`">
                <i :class="`fa fa-${v2.icon}`"></i> <span> {{v2.title}}</span>
                <span class="pull-right-container" v-if="v2.children.length != 0">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu" v-if="v2.children.length != 0">

                <li v-for="(v3, i3) in v2.children">
                  <a :href="`../${v3.url == '#' ? v3.url : v3.url + '.html'}`">
                    <i :class="`fa fa-${v3.icon}`"></i> {{v3.title}}
                  </a>
                </li>

              </ul>
            </li>

          </ul>
        </li>

      </ul>
    </section>

  </aside>


  <div class="content-wrapper">

    <section class="content-header">
      <h1>
        商户管理
      </h1>
      <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> 首页</li>
        <li>商户管理</li>
        <li class="active">商户管理</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="nav-tabs-custom">

            <ul class="nav nav-tabs">
              <li class="active"><a href="#操作" data-toggle="tab" aria-expanded="true">操作</a></li>
              <li class=""><a href="#搜索" data-toggle="tab" aria-expanded="false">搜索</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="操作">

                <!-- <a class="btn btn-sm btn-danger" @click="del()">删除</a> -->

                <a class="btn btn-sm btn-primary" @click="getView(-1)">新增</a>

              </div>
              <div class="tab-pane" id="搜索">

                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">商户地址</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-xs-4 col-sm-3">
                          <select class="form-control" v-model="list.post.province" onchange="app.getC('search', this.value)">
                            <option :value="`${v.code}`" v-for="(v, i) in search_pca.p">{{v.name}}</option>
                          </select>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                          <select class="form-control" v-model="list.post.city" onchange="app.getA('search', this.value)">
                            <option :value="`${v.code}`" v-for="(v, i) in search_pca.c">{{v.name}}</option>
                          </select>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                          <select class="form-control" v-model="list.post.area">
                            <option :value="`${v.code}`" v-for="(v, i) in search_pca.a">{{v.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">商户行业</label>
                    <div class="col-sm-3">
                      <select class="form-control" v-model="list.post.industryId">
                        <!-- <option value="">--请选择--</option> -->
                        <option :value="`${i}`" v-for="(v, i) in 行业">{{v}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">登录时间</label>
                    <div class="col-sm-3">
                      <select class="form-control" v-model="list.post.chooseDay">
                        <option value="0">--请选择--</option>
                        <option value="1">最近1天没有登录</option>
                        <option value="3">最近3天没有登录</option>
                        <option value="7">最近7天没有登录</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">商户名称</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" v-model="list.post.title">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button class="btn btn-primary" @click="list.post.pageNum = 1; getList()">查找</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="clearfix p10 pt0">

              <table class="table table-bordered table-hover">
                <thead>
                  <tr class="text-nowrap">
                    <th width="1%"><input type="checkbox" @click="checkAll" id="checkAll"></th>
                    <th>ID</th>
                    <th>行业</th>
                    <th>商户名称</th>
                    <th>商户编号</th>
                    <th>商户地址</th>
                    <th>上次登录时间</th>
                    <th>离线时长</th>
                    <th>支付积分</th>
                    <th>状态</th>
                    <th width="1%">操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(v, i) in list.data">
                    <td><input type="checkbox" :value="`${v.id}`" v-model="list.checkbox.checked"></td>
                    <td>{{v.id}}</td>
                    <td>{{行业[v.industryId]}}</td>
                    <td>{{v.title}}</td>
                    <td>{{v.identifier}}</td>
                    <td>{{v.detailedAddress}}</td>
                    <td>{{v.lastLoginTime}}</td>
                    <td :class="{'text-danger': v.offLineTime / 86400 > 3}">{{(v.offLineTime / 86400).toFixed(1)}}天</td>
                    <td>{{v.payIntegral}}</td>
                    <td :class="{'text-danger': v.status == 0}">{{状态[v.status]}}</td>
                    <td class="text-nowrap operation">
                      <a class="btn btn-xs btn-primary" @click="getView(v.mchId)">编辑</a><br>
                      <a :class="`btn btn-xs btn-${v.status == '1' ? 'success':'warning'}`" @click="setStatus(v.mchId)">{{v.status == '1' ? '锁定':'解锁'}}</a><br>
                      <a class="btn btn-xs btn-danger" @click="del(v.id)">删除</a><br>
                    </td>
                  </tr>
                  <tr v-if="list.length == 0">
                    <td colspan="99">没有数据</td>
                  </tr>
                </tbody>
              </table>

              <div class="pull-left mt15">
                <label>
                  <select class="form-control input-sm" v-model="list.post.pageSize" @change="list.post.pageNum = 1; getList()">
                    <option value="2">每页 2 条</option>
                    <option value="10">每页 10 条</option>
                    <option value="25">每页 25 条</option>
                    <option value="50">每页 50 条</option>
                    <option value="100">每页 100 条</option>
                  </select>
                </label>

                &nbsp;&nbsp;共 {{list.info.total}} 条记录
              </div>

              <div class="pull-right" v-if="list.info.pages > 1">
                <ul class="pagination pagination-sm">

                  <li class="paginate_button"><a href="javascript:;" @click="getList('page','-1')">&lt;</a></li>

                  <li class="paginate_button" v-for="i in list.page.prev"><a href="javascript:;" @click="list.post.pageNum = i; getList()">{{i}}</a></li>

                  <li class="paginate_button active"><a href="#">{{list.post.pageNum}}</a></li>

                  <li class="paginate_button" v-for="i in list.page.next"><a href="javascript:;" @click="list.post.pageNum = i; getList()">{{i}}</a></li>

                  <li class="paginate_button"><a href="javascript:;" @click="getList('page','+1')">&gt;</a>
                  </li>

                </ul>
              </div>

            </div>

          </div>

        </div>

      </div>

    </section>


    <div class="modal fade" id="view">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
              <span v-if="view.agentId == undefined">新增</span>
              <span v-if="view.agentId != undefined">编辑</span>
            </h4>
          </div>
          <div class="modal-body">

            <form class="form-horizontal">

              <div class="form-group">
                <label class="col-sm-3 control-label">上级代理商</label>
                <div class="col-sm-4">
                  <select class="form-control" v-model="view.superiorAgentId" onchange="app.getLV2(this.value, 1)">
                    <option value="">--请选择--</option>
                    <option :value="`${v.agentId}`" v-for="(v, i) in 上级代理商.lv1">{{v.title}}</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" v-model="view.agentId">
                    <option value="">--请选择--</option>
                    <option :value="`${v.agentId}`" v-for="(v, i) in 上级代理商.lv2">{{v.title}}</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-offset-3 col-sm-9 mb20 pl10 text-danger mt5">
                不设置代理商，代理分成将无效
              </div>

              <hr>

              <div class="form-group">
                <label class="col-sm-3 control-label">商户名称</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" v-model="view.title">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  *
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">商户编号</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" v-model="view.identifier">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  * 首次设置后，不可修改
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">商户密码</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" v-model="view.password">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  *
                </div>
              </div>

              <hr>

              <div class="form-group">
                <label class="col-sm-3 control-label">支付积分</label>
                <div class="col-sm-4">
                  <input type="number" class="form-control input-sm" placeholder="设置用户授权需支付金额" v-model="view.payIntegral">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  * 免费输入0
                </div>
              </div>

              <hr>

              <div class="form-group">
                <label class="col-sm-3 control-label">所属行业</label>
                <div class="col-sm-4">
                  <select class="form-control" v-model="view.industryId">
                    <option value="">--请选择--</option>
                    <option :value="`${i}`" v-for="(v, i) in 行业">{{v}}</option>
                  </select>
                </div>
                <div class="col-sm-5 text-danger mt5">
                  *
                </div>
              </div>

              <span v-if="view.industryId == 2">

                <hr>

                <div class="form-group">
                  <label class="col-sm-3 control-label">网吧行业软件</label>
                  <div class="col-sm-4">
                    <select class="form-control" v-model="view.softwareVersion">
                      <option value="">--请选择--</option>
                      <option :value="`${i}`" v-for="(v, i) in 网吧行业软件">{{v}}</option>
                    </select>
                  </div>
                  <div class="col-sm-5 text-danger mt5">
                    非网吧行业请忽略
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">是否加密</label>
                  <div class="col-sm-4">
                    <select class="form-control" v-model="view.isEncrypt">
                      <option value="">--请选择--</option>
                      <option :value="`${i}`" v-for="(v, i) in 是否加密">{{v}}</option>
                    </select>
                  </div>
                  <div class="col-sm-5 text-danger mt5">
                    万象必须加密，佳星请根据版本选择
                  </div>
                </div>

              </span>

              <span v-if="view.industryId == 1">

                <hr>

                <div class="form-group">
                  <label class="col-sm-3 control-label">酒店行业同步模式</label>
                  <div class="col-sm-4">
                    <select class="form-control" v-model="view.syncType">
                      <option value="">--请选择--</option>
                      <option :value="`${i}`" v-for="(v, i) in 同步模式">{{v}}</option>
                    </select>
                  </div>
                  <div class="col-sm-5 text-danger mt5">
                    非酒店行业请忽略
                  </div>
                </div>

                <span v-if="view.syncType == 3">

                  <div class="form-group">
                    <label class="col-sm-3 control-label">酒店注册码</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.registerCode">
                    </div>
                    <div class="col-sm-5 text-danger mt5">
                      非酒店行业请忽略
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">外部接口编号</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.interfaceCode">
                    </div>
                    <div class="col-sm-5 text-danger mt5">
                      * 
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">同步IP或计算机名称</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.databaseIp">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">数据库端口</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.databasePort">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">数据库账号</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.databaseAccount">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-3 control-label">数据库密码</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control input-sm" v-model="view.databasePassword">
                    </div>
                  </div>

                </span>

              </span>

              <hr>

              <div class="form-group">
                <label class="col-sm-3 control-label">商户负责人</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" v-model="view.linkman">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  * 
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">负责人手机</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control input-sm" v-model="view.mobile">
                </div>
                <div class="col-sm-5 text-danger mt5">
                  * 
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">商户地址</label>
                <div class="col-sm-3">
                  <select class="form-control" v-model="view.province" onchange="app.getC('view', this.value)">
                    <option value="" selected>--请选择--</option>
                    <option :value="`${v.code}`" v-for="(v, i) in view_pca.p">{{v.name}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" v-model="view.city" onchange="app.getA('view', this.value)">
                    <option value="" selected>--请选择--</option>
                    <option :value="`${v.code}`" v-for="(v, i) in view_pca.c">{{v.name}}</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <select class="form-control" v-model="view.area">
                    <option value="" selected>--请选择--</option>
                    <option :value="`${v.code}`" v-for="(v, i) in view_pca.a">{{v.name}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <input type="text" class="form-control input-sm" v-model="view.detailedAddress">
                </div>
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <a class="btn btn-primary" @click="saveView">确定</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
    <b>中证宝</b> 管理后台
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">维护团队</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">韦聪</h4>

                <p>产品设计师</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-phone bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">电话</h4>

                <p>18902300094</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">邮件</h4>

                <p>57425133@qq.com</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- <script src="../plugins/jquery/jquery.min.js"></script> -->
<!-- <script src="../plugins/bootstrap/js/bootstrap.min.js"></script> -->
<script src="../../plugins/adminLTE/js/adminlte.min.js"></script>
<script src="../../plugins/adminLTE/js/demo.js"></script>
<script src="../../plugins/cong/cong.js"></script>

<script>
var app = new Vue({
  el: '#app',
  data: {
	mca: {},
    admin: {},
    sidemenu: {},

	list: {},
	// page: {},
	ids: [],
	ids_all: [],

	view: {},

    list: {
      data: [],
      post: {
        pageNum: 1,
        pageSize: 10,
        chooseDay: 0,
      },
      info: {},
      page: {},
      checkbox: {
        all: [],
        checked: [],
      },
    },

    search_pca: {
      p: {},
      c: {},
      a: {},
    },

    view_pca:{
      p: {},
      c: {},
      a: {},
    },

    上级代理商:{
      lv1: {},
      lv2: {},
    },

    行业: {
      1: '旅馆',
      2: '网吧',
      3: '汽车站',
      4: '机场',
      5: '旅行社',
      6: '访客',
    },

    状态: {
      0: '不可用',
      1: '可用',
    },

    网吧行业软件: {
      1: '佳星',
      2: '万象',
    },

    是否加密: {
      0: '否',
      1: '是',
    },

    同步模式: {
      1: '在线（云服务器）',
      2: 'xml文件（铃铛）',
      3: '本地数据库（LockSend）',
    },

  },
  methods: {
/*    getList: function(key, val){

      _this = this

      if(key == 'page'){

        if(val == '+1'){
          if( this.param.page < this.param.page_total ){
            this.param.page++
          }else{
            return;
          }
        }

        if(val == '-1'){
          if( this.param.page > 1 ){
            this.param.page--
          }else{
            return;
          }
        }

      }

      $.ajax({
        type: 'POST',
        url: manager_api + this.param.dir,
        // data: this.param,
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.param = re.param
          _this.list.data = re.data

          //所有id
          for( var i in re.data ){
            var v = re.data[i]

            _this.ids_all.push(v.id)
          }

          //分页
          _this.list.prev = []
          for(var i = _this.param.page - 4; i < _this.param.page; i++){
            if(i <= 0)continue;
            _this.list.prev.push(i)
          }

          _this.list.next = []
          for(var i = _this.param.page + 1; i < _this.param.page + 5; i++){
            if(i > re.param.page_total)break;
            _this.list.next.push(i)
          }

        }
      })

    },*/

    checkAll: function(){

      if( $('#checkAll').prop('checked') ){
        this.list.checkbox.checked = this.list.checkbox.all
      }else{
        this.list.checkbox.checked = []
      }

    },

/*    getView: function(id){

      _this.view = {}

      if(id == -1){
        this.view = {}
        $('#view').modal('show')
        return;
      }

      $.ajax({
        type: 'GET',
        url: manager_api + 'adm/view',
        data: {
          table: this.param.table,
          id: id,
        },
        dataType: 'json',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.view = re

          $('#view').modal('show')

        }
      })

    },*/


/*    save: function(){

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/save?table=' + this.param.table,
        data: this.view,
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == '1'){
            _this.getList()
            $('#view').modal('hide')
          }else{
            alert(re)
          }

        },
      })

    },*/


    onoff: function(field, value, id){

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/onoff',
        data: {
          table: this.param.table,
          field: field,
          value: value,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },


    del: function(id){

      if(!confirm('确认删除？')){
        return void(0)
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.ids.length == 0){
        console.log('一个都没有选中')
        return void(0)
      }else{

        var ids = this.ids
      }


      $.ajax({
        type: 'POST',
        url: manager_api + 'adm/del',
        data: {
          table: this.param.table,
          id: ids,
        },
        dataType: 'text',
        beforeSend: function(request){
          // request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re == 1){
            _this.getList()

            _this.ids = []
          }else{
            alert(re)
          }

        }
      })

    },

    getList: function(key, val){

      _this = this

      if(key == 'page'){

        if(val == '+1'){
          if( this.list.post.pageNum < this.list.info.pages ){
            this.list.post.pageNum++
          }else{
            return
          }
        }

        if(val == '-1'){
          if( this.list.post.pageNum > 1 ){
            this.list.post.pageNum--
          }else{
            return
          }
        }

      }

      var data = {
        "reqHead":
        {
          clientType: 1,
          format: "json",
          version: "1.0",
          sign: "2A71F91102AE746493B3CDF67FCCDCF3"
        },
        reqBody: this.list.post
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/getMchList/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.list.data = re.rspBody.mchPageList
          delete re.rspBody.mchPageList

          _this.list.info = re.rspBody          


          //id
          for( var i in _this.list.data ){
            var v = _this.list.data[i]

            _this.list.checkbox.all.push(v.id)
          }

          //分页
          _this.list.page.prev = []
          for(var i = _this.list.info.pageNum - 4; i < _this.list.info.pageNum; i++){
            if(i <= 0)continue;
            _this.list.page.prev.push(i)
          }

          _this.list.page.next = []
          for(var i = _this.list.info.pageNum + 1; i < _this.list.info.pageNum + 5; i++){
            if(i > _this.list.info.pages)break;
            _this.list.page.next.push(i)
          }

        }
      })

    },

    getView: function(id){

      this.view = {}

      if(id == -1){
        $('#view').modal('show')
        return
      }

      var data = {
        "reqHead":
        {
          clientType: 1,
          format: "json",
          version: "1.0",
          sign: "UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
        },
        reqBody: {
          mchId: id
        }
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/getMchInfo/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.view = re.rspBody

          _this.getLV2(_this.view.superiorAgentId)

          _this.getC('view', _this.view.province)
          _this.getA('view', _this.view.city)

          $('#view').modal('show')

        }
      })

    },

    saveView: function(){

      var data = {
        "reqHead":
        {
          clientType: 1,
          format: "json",
          version: "1.0",
          sign: "UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
        },
        reqBody: this.view
      }

      if ( data.reqBody.superiorAgentId != '' && data.reqBody.agentId == '' ){

        data.reqBody.agentId = data.reqBody.superiorAgentId
        delete data.reqBody.superiorAgentId

      }

      var add_or_edit = this.view.mchId == undefined ? 'add':'edit'

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/' + add_or_edit + 'Mch/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re.rspHead.retCode == '1'){
            _this.getList()
            $('#view').modal('hide')
          }else{
            alert(re.rspHead.retMsg)
          }

        },
      })

    },

    editMchStatus: function(){

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
        },
        reqBody: this.view
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/editMchStatus/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re.rspHead.retMsg == '成功'){
            _this.getList()
          }else{
            alert(re.rspHead.retMsg)
          }

        },
      })

    },

    setStatus: function(id){

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "401E79DEC2E7AA1F645D67924E6EE0F3"
        },
        reqBody: {
          mchId: id
        }
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/editMchStatus/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          if(re.rspHead.retCode == '1'){
            _this.getList()
          }else{
            alert(re.rspHead.retMsg)
          }

        },
      })

    },

    del: function(id){

      if(!confirm('确认删除？')){
        return
      }

      //单个
      if(id != undefined){
        var ids = [id]
      }
      //多个
      else if(this.list.checkbox.checked.length == 0){
        alert('一个都没有选中')
        return
      }else{

        var ids = this.list.checkbox.checked
      }

      // console.log(ids)

      for( var i in ids ){
        var id = ids[i]


        var data = {
          "reqHead":
          {
            clientType: 1,
            format: "json",
            version: "1.0",
            sign: "UCR1fIQ9lyUCR1fIQ9lyUCR1fIQ9lyUCR1y"
          },
          reqBody: {
            id: id
          }
        }

        $.ajax({
          type: 'POST',
          url: manager_api + 'manager/deleteMch/interface',
          data: JSON.stringify(data),
          dataType: 'json',
          beforeSend: function(request){
            request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
          },
          success: function(re){

            if(re.rspHead.retCode != '1'){
              alert(re.rspHead.retMsg)
            }else{
              _this.getList()
            }

          }
        })

      }

    },

    getLV2: function(fid, clean_lv2){

      // console.log(this.view.一级代理)

      if ( clean_lv2 != undefined ){
        this.view.agentId = ''
      }

      //上级代理商
      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "30C7398578F1F7C995BAF67D18F89B33"
        },
        reqBody: {
          agentId: fid
        }
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/getSecondAgent/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.上级代理商.lv2 = re.rspBody.secondAgentList

        }
      })

    },

    getP: function(){

      // console.log('getP')
      // return

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "30C7398578F1F7C995BAF67D18F89B33"
        },
        reqBody: {}
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/allProvince/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this.search_pca.p = re.rspBody.areaRspDTOList
          _this.view_pca.p = re.rspBody.areaRspDTOList

        }
      })

    },

    getC: function(who, pid){

      // console.log('getC', pid)

      var _this = this

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "30C7398578F1F7C995BAF67D18F89B33"
        },
        reqBody: {
          parentId: pid
        }
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/allCity/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this[who + '_pca'].c = re.rspBody.allCityResponseDTOList
          _this[who + '_pca'].a = {}

        }
      })

    },

    getA: function(who, pid){

      // console.log('getA', pid)
      // return

      var _this = this

      var data = {
        "reqHead":
        {
          clientType: 6,
          format: "json",
          version: "1.0",
          sign: "30C7398578F1F7C995BAF67D18F89B33"
        },
        reqBody: {
          parentId: pid
        }
      }

      $.ajax({
        type: 'POST',
        url: manager_api + 'manager/allRegion/interface',
        data: JSON.stringify(data),
        dataType: 'json',
        beforeSend: function(request){
          request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
        },
        success: function(re){

          _this[who + '_pca'].a = re.rspBody.allCityResponseDTOList

        }
      })

      // console.log(who, parent)

    },

  },
  mounted() {
    _this = this

    // console.log(LS.admin)

    // 登录信息
    if(LS.admin != undefined){
      this.admin = JSON.parse(LS.admin)

      var expire = ((this.admin.expire - new Date().getTime() ) / 1000 / 60).toFixed(0)

      console.log('登录超时剩余', expire)

      //过期
      if(expire < 0){
        //console.log('登录超时跳转')
        location.href = '../account/index.html?logout=1'
      }

    }else{

      //未登录
      location.href = '../account/index.html'
    }


    // 侧栏菜单
    $.ajax({
      type: 'GET',
      url: '../../db/menu-manager.json',
      //url: 'http://192.168.199.196:8692/token/generate',
      dataType: 'json',
      beforeSend: function(request){
        //request.setRequestHeader("token", _this.admin.token)
      },
      success: function(re){

        // $.cookie('token', re.data.token);

        // re.data.info.token = re.data.token
        // LS.admin = JSON.stringify(re.data.info)

        _this.sidemenu = re
        //console.log(_this.sidemenu)

      }
    })


    // 显示主体
    $('#loading').hide()
    $('#app').show()

    // mca
    var tmp = location.pathname.split('/')
    this.mca = {
      m: decodeURI(tmp[1]),
      c: decodeURI(tmp[2]),
      a: decodeURI(tmp[3].split('.html')[0]),
    }

    // console.log(this.mca)



    this.getP()

    //上级代理商
    var data = {
      "reqHead":
      {
        clientType: 1,
        format: "json",
        version: "1.0",
        sign: "30C7398578F1F7C995BAF67D18F89B33"
      },
      reqBody: {}
    }

    $.ajax({
      type: 'POST',
      url: manager_api + 'manager/getFirstAgentAll/interface',
      data: JSON.stringify(data),
      dataType: 'json',
      beforeSend: function(request){
        request.setRequestHeader('Authorization', 'Bearer ' + _this.admin.token )
      },
      success: function(re){

        _this.上级代理商.lv1 = re.rspBody.firstAgentList

      }
    })



    this.getList()

  }
})
</script>
</body>
</html>